<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>loginPaciente</servlet-name>
        <servlet-class>servlets.loginPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginSanitario</servlet-name>
        <servlet-class>servlets.loginSanitario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pedirCita</servlet-name>
        <servlet-class>servlets.pedirCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>anularCita</servlet-name>
        <servlet-class>servlets.anularCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>citasSanitario</servlet-name>
        <servlet-class>servlets.citasSanitario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginPaciente</servlet-name>
        <url-pattern>/loginP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginSanitario</servlet-name>
        <url-pattern>/loginS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pedirCita</servlet-name>
        <url-pattern>/nuevaCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>anularCita</servlet-name>
        <url-pattern>/eliminarCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>citasSanitario</servlet-name>
        <url-pattern>/citasDelSanitario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
